services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    command: gunicorn utag_ug_archiver.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "${WEB_PORT:-8000}:8000"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - redis
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    command: celery -A utag_ug_archiver worker --loglevel=info
    environment:
      RUN_MIGRATIONS: "0"
      RUN_COLLECTSTATIC: "0"
    depends_on:
      - redis
    restart: unless-stopped

  beat:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    command: celery -A utag_ug_archiver beat --loglevel=info
    environment:
      RUN_MIGRATIONS: "0"
      RUN_COLLECTSTATIC: "0"
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  static_volume:
  media_volume:
  redis_data:
