services:
  web:
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    environment:
      RUN_MIGRATIONS: "1"
      RUN_COLLECTSTATIC: "0"

  worker:
    volumes:
      - .:/app

  beat:
    volumes:
      - .:/app
