{% extends "base/base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block content %}
<!-- Page Title Area Start -->
<section class="page-title-area bg-image ptb--80" data-bg-image="{% static 'website/assets/img/bg/balme.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">About Us</h1>
            </div>
        </div>
    </div>
</section>
<!-- Page Title Area End -->

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    

    <!-- About Content Area Start -->
    <section class="about-content-area">
        <div class="container">
            <div class="row mb--60 mb-lg--55 mb-md--60 mt--30">
                <div class="col-lg-4 mb-md--15">
                    <p>
                        The University of Ghana Branch of the University Teachers Association of Ghana (UG-UTAG) is an organization representing the teaching and research staff of the University of Ghana. Its primary purpose is to promote the academic, professional, and economic welfare of its members, as well as the welfare of the entire academic community of the University of Ghana.
                    </p>
                </div>
                <div class="col-lg-4 mb-md--15">
                    <p>
                        The association advocates for the needs and concerns of its members to the University Management, the leadership of the National Association, and the Government of the Republic. UG-UTAG also aims to foster healthy relationships among its members and other members of the University as defined under the University of Ghana Act and the Statutes of the University.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="text-bg-block">
                        <p class="font-italic">
                            The association carries out various activities deemed necessary for the attainment of its objectives and operates in accordance with its constitution and the policies of the National Association.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mb--55 mb-lg--60">
                <div class="col-lg-6 mb-md--50">
                    <figure class="fp-video">
                        <a href="https://www.youtube.com/watch?v=Rp19QD2XIGM" class="video-popup">
                            <img src="{% static 'website/assets/img/bg/about_bg.png' %}" alt="About Us">
                        </a>
                    </figure>
                </div>
                <div class="col-lg-6">
                    <h3 class="mb--15">Mission &amp; Vision</h3>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Mission #1
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>To defend and promote academic freedom, advocate for the needs and concerns of our membership to the University Management, the leadership of the National Association, and the Government of the Republic, and foster a vibrant and inclusive community that advocates for the academic, social, and personal development of undergraduate students at the University of Ghana. We aim to provide opportunities for student engagement, promote student rights and welfare, and enhance the overall undergraduate experience.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Vission #1
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>To be recognized as the leading student organization that empowers and represents undergraduate students at the University of Ghana. We strive to create an environment where every student feels valued, supported, and inspired to achieve their full potential in defending and promoting academic freedom, advocating for student needs, and fostering a vibrant and inclusive community.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Mission #2
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>To promote and advance the standards, ideals, usefulness, and welfare of the teaching and research profession, and to promote academic excellence, personal growth, and leadership development among undergraduate students at the University of Ghana. We are committed to organizing educational programs, workshops, and initiatives that enhance students' intellectual abilities, critical thinking skills, and professional competencies.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Vission #2
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>To cultivate a community of lifelong learners and future leaders through our commitment to academic excellence, innovation, and holistic development. We envision undergraduate students at the University of Ghana as empowered individuals who are well-prepared for their future careers, and who, along with the teaching and research profession, are equipped to make positive contributions to society.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb--60">
                <div class="col-12">
                    <div class="cta bg-color border-radius ptb--60 plr--45" data-bg-color="#202020">
                        <div class="row align-items-center">
                            <div class="col-md-3 text-md-start text-center mb-sm--15">
                                <h3 class="color--white">You Need Help?</h3>
                            </div>
                            <div class="col-md-6 mb-sm--20">
                                <p class="color--white text-md-start text-center">Get in touch with us and we will be happy to help you.</p>
                            </div>
                            <div class="col-md-3 text-md-end text-center">
                                <a href="{% url 'website:contact_us' %}" class="btn btn-2">Contact Us <i class="fa fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Content Area End -->

</div>
<!-- Main Content Wrapper End -->
{% endblock %}
