{% extends "base/base.html" %}
{% load static %}
{% block title %}Event Details{% endblock title %}
{% block content %}
<!-- Page Title Area Start -->
<section class="page-title-area bg-image ptb--80" data-bg-image="{% static 'website/assets/img/bg/balme.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Event Details</h1>
            </div>
        </div>
    </div>
</section>
<!-- Page Title Area End -->

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <!-- News Area Start -->
    <div class="inner-content-area mt--60 mb--60 mb-md--55">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mb-md--45">
                    <article class="post single-post">
                        <div class="post__thumbnail">
                            <figure class="image">
                                <img src="{{event.get_image_url}}" alt="post Thumb">
                            </figure>
                            <span class="post__date">
                                <strong>{{ event.date|date:"j" }}</strong>
                                <span>{{ event.date|date:"M" }}</span>
                            </span>
                        </div>
                        <div class="post__info">
                            <h2 class="post__title">{{event.title}}</h2>
                            <div class="post__entry-meta">
                                <span class="post__author"><i class="fa fa-user"></i>{{event.created_by}}</span>
                                <span class="post__category-links">
                                    <i class="fa fa-map-marker"></i>  
                                    {{event.venue}}
                                </span>
                                <span class="post__category-links">
                                    <i class="fa fa-calendar"></i>
                                    {{ event.time|time:"g:i A" }}
                                </span>
                            </div>
                            <div class="post__content">
                                <p>{{event.description|safe}}</p>
                            </div>
                            <div class="post__footer-meta">
                                <div class="post__sharing">
                                    <span>Share <i class="fa fa-share-alt"></i></span>
                                    <ul class="social social-round">
                                        <li class="social__item">
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="social__link" target="_blank" rel="noopener">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="https://wa.me/?text={{ request.build_absolute_uri }}" class="social__link" target="_blank" rel="noopener">
                                                <i class="fa fa-whatsapp"></i>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="https://twitter.com/share?url={{ request.build_absolute_uri }}&text={{ event.event_slug }}" class="social__link" target="_blank" rel="noopener">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- News Area End -->
</div>
<!-- Main Content Wrapper End -->
{% endblock %}
