{% extends "base/base-v2.html" %}
{% load static %}
{% load image_tags %}
{% block title %}
    Executive Officers
{% endblock title %}
{% block content %}
    <!--Breadcrumb Banner Area Start-->
    <div class="breadcrumb-banner-area teachers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text">
                        <h1 class="text-center">Executive Officers</h1>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="{% url 'website:index' %}">Home</a>
                                </li>
                                <li>Executive Officers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Teacher Fullwidth Area Start-->
    <div class="teacher-fullwidth-area section-padding">
        <div class="container">
            <div class="row">
                {% for executive in executives %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="single-teachers-column text-center">
                            <div class="teachers-image-column">
                                <a href="#">
                                    {% if executive.executive_image %}
                                      {% lazy_img executive.executive_image.url executive.get_full_name "img-fluid" "executive" %}
                                    {% else %}
                                      <img src="{% static 'website/assets/img/team/ourteam31.png' %}" alt="Executive Officer" loading="lazy" decoding="async" class="img-fluid" />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="teacher-column-carousel-text">
                                <h4>
                                  <a href="#" class="text-decoration-none" data-bio-modal
                                     data-name="{{ executive.get_full_name }}"
                                     data-position="{{ executive.executive_position }}"
                                     data-affiliation="{% if executive.school %}School: {{ executive.school.name }}{% endif %}{% if executive.college %} | College: {{ executive.college.name }}{% endif %}{% if executive.department %} | Dept: {{ executive.department.name }}{% endif %}"
                                     data-bio="{{ executive.executive_bio|default:'<span class=\'text-muted\'>No biography provided.</span>'|linebreaksbr|escapejs }}"
                                     data-photo="{% if executive.executive_image %}{{ executive.executive_image.url }}{% endif %}">
                                    {{ executive.get_full_name }}
                                  </a>
                                </h4>
                                <span>{{ executive.executive_position }}</span>
                                <!-- {% if executive.executive_status %}
                                    <div>
                                        <strong>Status:</strong> {{ executive.executive_status }}
                                    </div>
                                {% endif %}
                                {% if executive.expiry_date %}
                                    <div>
                                        <strong>Expiry Date:</strong> {{ executive.expiry_date|date:'d M, Y' }}
                                    </div>
                                {% endif %}
                                <p>{{ executive.bio|default:"" }}</p> -->
                                <div class="social-links">
                                    {% if executive.fb_profile_url %}
                                        <a href="{{ executive.fb_profile_url }}" aria-label="Facebook profile"><i class="fa fa-facebook"></i></a>
                                    {% endif %}
                                    {% if executive.email %}
                                        <a href="mailto:{{ executive.email }}" aria-label="Email"><i class="fa fa-google-plus"></i></a>
                                    {% endif %}
                                    {% if executive.twitter_profile_url %}
                                        <a href="{{ executive.twitter_profile_url }}"
                                           aria-label="Twitter profile"><i class="fa fa-twitter"></i></a>
                                    {% endif %}
                                    {% if executive.linkedin_profile_url %}
                                        <a href="{{ executive.linkedin_profile_url }}"
                                           aria-label="LinkedIn profile"><i class="fa fa-linkedin"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--End of Teacher Fullwidth Area-->
{% endblock content %}
