{% extends "base/base.html" %}
{% load static %}
{% block title %}{{ officer.name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="page-title">{{ officer.name }}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6 mb--40">
            <div class="team-member team-member-style-2">
                <div class="team-member__inner">
                    <figure class="team-member__thumbnail">
                        <img src="{{ officer.photo.url }}" alt="{{ officer.name }}">
                    </figure>
                    <div class="team-member__info">
                        <div class="team-member__content">
                            <h3 class="team-member__name">{{ officer.name }}</h3>
                            <span class="team-member__role">{{ officer.role }}</span>
                        </div>
                        <ul class="social social-round">
                            {% if officer.facebook_url %}
                            <li class="social__item">
                                <a class="social__link" href="{{ officer.facebook_url }}">
                                    <i class="social__icon fa fa-facebook"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if officer.googleplus_url %}
                            <li class="social__item">
                                <a class="social__link" href="{{ officer.googleplus_url }}">
                                    <i class="social__icon fa fa-google-plus"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if officer.twitter_url %}
                            <li class="social__item">
                                <a class="social__link" href="{{ officer.twitter_url }}">
                                    <i class="social__icon fa fa-twitter"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}