{% extends "base/base.html" %}
{% load static %}
{% block title %}F.A.Qs{% endblock %}

{% block content %}
<!-- Page Title Area Start -->
<section class="page-title-area bg-image ptb--80" data-bg-image="{% static 'website/assets/img/bg/balme.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">F.A.Qs</h1>
            </div>
        </div>
    </div>
</section>
<!-- Page Title Area End -->

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="faq-area">
        <div class="container">
            <div class="row mb--40">
                <div class="col-12">
                    <h2>Frequently Asked Questions &amp; Answers</h2>
                    <p>Have a look at frequently asked questions &amp; answers to understand more.</p>
                </div>
            </div>
            <div class="row mb--60">
                <div class="col-lg-6 mb-md--50">
                    <div class="accordion accordion-2" id="accordionTwo">
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingFour">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    How are you compensated for your services?
                                </button>
                            </div>
                            <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionTwo">
                                <div class="accordion-body">
                                    Only after we have a firm understanding of your needs and goals, compensation for our services can take on one of these four forms:
                                    <br> * Fee – Fee for the engagement. This could be a flat fee or an hourly fee.<br> * Fee arrangement – Management fee based upon your assets.<br> * Commission – if there were a particular product that fit your
                                    situation, we would be able to implement a product where the product company compensates us.<br> * Hybrid – Combination approach<br> Each implementation strategy has its benefits and its draw backs. The key
                                    catalyst for making a decision is based on your situation.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingFive">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    What is the frequency in which financial planning engagements take place?
                                </button>
                            </div>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionTwo">
                                <div class="accordion-body">
                                    Financial Planning can be done on an “as needed” basis through various engagements that have a start and an end or on an ongoing basis through a financial planning retainer fee.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingSix">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    How often should someone have formal financial planning advice?
                                </button>
                            </div>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionTwo">
                                <div class="accordion-body">
                                    It depends. <br> * Some people seek financial planning when a material life changing event has occurred or is expected to occur. Such events could be: Marriage, retirement, college planning, a death in the family,
                                    divorce, or the birth or adoption of a child.<br> * Sometimes, people need financial planning guidance when they are evaluating the financial merits of changing jobs, buying or selling a business, or purchasing
                                    a new home.<br> * Financial Planning can be extended to business owners as they seek to evaluate their current or prospective retirement plans, executive compensation, succession planning, or employee education.<br>                                            * Others choose to create a retainer arrangement to have various financial planning services for their situation on an ongoing basis.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion accordion-2" id="accordionThree">
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingSeven">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                    Is there a benefit to “diversifying advisors”?
                                </button>
                            </div>

                            <div id="collapseSeven" class="accordion-collapse collapse show" aria-labelledby="headingSeven" data-bs-parent="#accordionThree">
                                <div class="accordion-body">
                                    Diversifying advisors may provide you insight to the different levels of service other investment professionals provide. However, this perceived diversification may result in inadequate financial planning due to a lack of knowledge of holdings elsewhere,
                                    as well as potentially unsuitable investment allocations due to the lack of knowledge of material changes to your account(s) with other institutions. The investor also may be able to save on overall investment
                                    related expenses by consolidating accounts and taking advantage of relative economies of scale.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingEight">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    What is a broker-dealer?
                                </button>
                            </div>
                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionThree">
                                <div class="accordion-body">
                                    A broker/dealer is a company that a registered investment professional is required to affiliate with in order to buy or sell investment products on behalf of investors. The broker/dealer holds responsibility for regulatory compliance and adherence to
                                    securities laws. The Securities and Exchange Commission (SEC) delegates the supervision of financial advisors to the Financial Industry Regulatory Authority (FINRA).
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingNine">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    What is an independent financial professional?
                                </button>
                            </div>
                            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionThree">
                                <div class="accordion-body">
                                    An independent financial professional is not an employee of an investment or financial services firm – they are an independent business owner. They have the freedom to structure their business in a manner that best serves their clients. The independent
                                    financial professional utilizes the services of the broker/dealer to process investment business, provide services such as practice management and education.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingTen">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    How am I connected to my investments?
                                </button>
                            </div>
                            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionThree">
                                <div class="accordion-body">
                                    Client: Now, more than ever, a client wants ‘‘peace of mind’’ when it comes to the safety of financial assets. <br> Financial Professional: A registered representative is an independent business owner who provides
                                    financial guidance to their clients and is typically paid a commission when you purchase a financial product. An Investment Advisor Representative (IAR) is an independent business owner who provides financial
                                    guidance to their clients and is generally paid a fee for either managing assets, giving advice, or both. <br> Investment Firm: A broker-dealer processes the commission business of registered representatives
                                    licensed with the firm and holds responsibility for regulatory compliance and adherence to securities laws. A Registered Investment Adviser (RIA) processes the fee-based business of IARs licensed with the firm
                                    and holds responsibility for regulatory compliance and adherence to securities laws. <br> Custodian: Pershing LLC, National Financial Services, LLC, and select firms provide the trade execution, clearing, custody,
                                    and other services for securities and related transactions. <br> Your Investments: Mutual funds, managed accounts, stocks, bonds, etc.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question-area">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-md-6 bg-color bg-gradient pt--75 pb--80" data-bg-color="#01004e">
                    <div class="row g-0">
                        <div class="col-lg-8 col-10 offset-lg-2 offset-1">
                            <h3 class="color--white mb--35">Do you have any question? Submit it now!</h3>
                            <a href="contact-us.html" class="btn btn-bg-white btn-hover-2">Get In Touch Now <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg-image bg-padding-sm h-100" data-bg-image="{% static 'website/assets/img/bg/faq1.jpg' %}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content Wrapper End -->
{% endblock %}