{% extends "base/base.html" %}
{% load static %}
{% block title %}Gallery{% endblock %}

{% block content %}
<!-- Page Title Area Start -->
<section class="page-title-area bg-image ptb--80" data-bg-image="{% static 'website/assets/img/bg/balme.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Gallery</h1>
            </div>
        </div>
    </div>
</section>
<!-- Page Title Area End -->

<!-- Main Content Wrapper Start -->
<div class="gallery-area section-padding gallery-full-width">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filter-menu">
          <ul>
            <li class="filter" data-filter="all">All</li>
            {% if galleries %}
            {% for gallery in galleries %}
            <li class="filter" data-filter=".gallery-{{ gallery.id }}">{{ gallery.title }}</li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="filter-items">
      <div class="row">
        {% for gallery in galleries %}
          {% for image in gallery.images.all %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix single-items gallery-{{ gallery.id }} overlay-hover">
          <div class="overlay-effect">
            <a href="#"><img src="{{ image.image.url }}" alt="{{ image.caption|default:'Image' }}" /></a>
            <div class="gallery-hover-effect">
              <a class="gallery-icon venobox" href="{{ image.image.url }}"
                ><i class="fa fa-image"></i
              ></a>
              <span class="gallery-text">{{ image.caption|default:"" }}</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-12">
        <div class="button text-center">
          <a class="button-default button-yellow" href="#"
            ><i class="fa fa-refresh"></i>Load More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Content Wrapper End -->
{% endblock %}
