{% extends "base/base.html" %}
{% load static %}
{% block title %}Gallery{% endblock %}

{% block content %}
<!-- Page Title Area Start -->
<section class="page-title-area bg-image ptb--80" data-bg-image="{% static 'website/assets/img/bg/balme.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Gallery</h1>
            </div>
        </div>
    </div>
</section>
<!-- Page Title Area End -->

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="inner-content-area mb--25 mt--10">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="project-filters mb--50">
                        <button data-filter="*" class="is-checked">All</button>
                        {% if galleries %}
                        {% for gallery in galleries %}
                        <button data-filter=".gallery-{{ gallery.id }}">{{ gallery.title }}</button>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row project-wrapper">
                {% if galleries %}
                    {% for gallery in galleries %}
                        {% for image in gallery.images.all %}
                        <div class="col-lg-4 col-md-6 project-item-wrap filter-services mb--25 gallery-{{ gallery.id }}">
                            <div class="project-item directional">
                                <figure class="project-item__thumbnail">
                                    <img src="{{ image.image.url }}" class="img-fluid rounded" alt="{{ image.caption|default:'Image' }}">
                                    <div class="project-item__overlay directional-hover">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal_{{ image.id }}"><i class="fa fa-eye"></i></a>
                                    </div>
                                </figure>
                            </div>
                        </div>

                        <!-- Modal for Viewing Individual Image -->
                        <div class="modal fade" id="imageModal_{{ image.id }}" tabindex="-1" aria-labelledby="imageModalLabel_{{ image.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <img src="{{ image.image.url }}" class="img-fluid rounded" alt="{{ image.caption|default:'Image' }}">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <p class="text-center">No galleries are currently available. Please check back later.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Main Content Wrapper End -->
{% endblock %}
