{% extends "base/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <!-- Slider area  Start -->
     
     {% if carousel_slides %}
     <div class="slider-area mb--95">
         <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="tm-01" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
             <!-- START REVOLUTION SLIDER 5.4.7 auto mode -->
             <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
                 <ul>
                     {% for slider in carousel_slides %}
                     <!-- SLIDE  -->
                     <li data-index="rs-{{ forloop.counter }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="{{ slider.image.url }}" data-rotate="0"
                         data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                         <!-- MAIN IMAGE -->
                         <img src="{{ slider.image.url }}" alt="{{ slider.title }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                     </li>
                     {% endfor %}
                 </ul>
                 <div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>
             </div>
         </div>
         <!-- END REVOLUTION SLIDER -->
     </div>
     {% endif %}
        
    <!-- Slider area  End -->
    
    <!-- Slider area  End -->

    <!-- Core Value area  Start -->
    <section class="core-value-area mb--95 mb-sm--85">
        <div class="container">
            <div class="row mb--35 mb-md--25">
                <div class="col-12 text-center">
                    <h2>Our Core Values</h2>
                    <p class="max-w-md-70 max-w-xs-95 mx-auto">With these values, we embrace our mission to bring each client the best service.</p>
                </div>
            </div>
            <div class="row">
                <!-- Defend and promote academic freedom -->
                <div class="col-md-4 col-sm-4 text-center mb-sm--40">
                    <div class="icon icon-rounded icon-big icon-hover-2">
                        <i class="pe-7s-notebook bg--primary"></i>
                    </div>
                    <h3 class="heading__tertiary mt--10 mt-md--0 mb--10">Quality Education</h3>
                    <p class="max-w-sm-70 max-w-xs-95 mx-auto">We are committed to defending and promoting academic freedom, ensuring that scholars can pursue research, teaching, and other academic activities without undue external interference.</p>
                </div>
                <!-- Promote and advance the standards, ideals, usefulness, and welfare of the teaching and research profession -->
                <div class="col-md-4 col-sm-4 text-center mb-sm--40">
                    <div class="icon icon-rounded icon-big icon-hover-2">
                        <i class="pe-7s-cup bg--primary"></i>
                    </div>
                    <h3 class="heading__tertiary mt--10 mt-md--0 mb--10">Advance Teaching and Research</h3>
                    <p class="max-w-sm-70 max-w-xs-95 mx-auto">We are committed to advancing teaching and research excellence. We strive to enhance standards, and researchers to create a brighter future through education.</p>
                </div>
                <!-- Advocate and communicate the needs and concerns of its membership -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="icon icon-rounded icon-big icon-hover-2">
                        <i class="pe-7s-users bg--primary"></i>
                    </div>
                    <h3 class="heading__tertiary mt--10 mt-md--0 mb--10">Advocate for Membership</h3>
                    <p class="max-w-sm-70 max-w-xs-95 mx-auto">We advocate for the needs and concerns of our membership to the University Management, the leadership of the National Association, and the Government of the Republic.</p>
                </div>
            </div>            
        </div>
    </section>
    <!-- Core Value area  End -->

    <!-- About Us area Start -->
    <section class="about_us-area mb--95">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="row g-0 justify-content-center align-items-center bg-color h-100 pt--75 pb--80 plr--35" data-bg-color="#01004e">
                        <div class="col-xl-7 col-md-12">
                            <h2 class="color--white mb--20">About Us</h2>
                            <p class="color--white mb--20">The University of Ghana Branch of the University Teachers Association of Ghana (UG-UTAG) is an organization representing the teaching and research staff of the University of Ghana. Its primary purpose is to promote the academic, professional, and economic welfare of its members, as well as the welfare of the entire academic community of the University of Ghana.</p>
                            <a href="{% url 'website:about_us' %}" class="btn btn-bg-white btn-hover-2">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <figure class="image-with-video-btn h-100">
                        <div class="bg-image bg-padding-sm h-100" data-bg-image="{% static 'website/assets/img/bg/about_bg.png' %}"></div>
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="about_us-area mb--95">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-md-9 col-lg-9 col-sm-9">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-inner">
                                {% for ad in large_advert_images %}
                                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                        <a href="{{ ad.target_url }}" class="advertisement-link" data-ad-id="{{ ad.id }}" target="_blank">
                                            <img src="{{ ad.get_image_url }}" class="d-block w-100" alt="{{ ad.advertiser.company_name }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 p-3">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-inner">
                                
                                {% for ad in small_advert_images %}
                                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                        <a href="{{ ad.target_url }}" class="advertisement-link" data-ad-id="{{ ad.id }}" target="_blank">
                                            <img src="{{ ad.get_image_url }}" class="d-block w-100" alt="{{ ad.advertiser.company_name }}">
                                        </a>
                                    </div>
                                {% endfor %}
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us area End -->

    <!-- Projects Area Start -->
    {% if published_news %}
    <section class="projects-area mb--95">
        <div class="container">
            <div class="row mb--45">
                <div class="col-12 text-center">
                    <h2>News Update</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="fp-element-carousel slick-dot-mb-30 slick-dot-style-2" data-slick-options='{
                        "spaceBetween": 10,
                        "slidesToShow": 4,
                        "slidesToScroll": 1,
                        "swipeToSlide": true,
                        "infinite": true,
                        "dots": true
                    }' data-slick-responsive='[
                        {"breakpoint":1199, "settings": {
                            "slidesToShow": 3
                        }},
                        {"breakpoint":991, "settings": {
                            "slidesToShow": 2
                        }},
                        {"breakpoint":767, "settings": {
                            "slidesToShow": 1
                        }}
                    ]'>
                        {% for news in published_news %}
                        <div class="item">
                            <div class="project-item-2">
                                <figure class="project-item__thumbnail">
                                    <img src="{{news.get_featured_image_url}}" alt="Project">
                                </figure>
                                <div class="project-item__info">
                                    <h3 class="project-item__title"><a href="{% url 'website:news_detail' slug=news.news_slug %}">{{news.title}}</a></h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Projects Area End -->
    <!-- Advert -->
    {% if top_active_ads %}
    <section class="projects-area mb--95">
        <div class="ontainer-fluid p-0">
            <div class="row g-0">
                <div class="col-md-12">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-inner">
                                
                                {% for ad in top_active_ads %}
                                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                        <a href="{{ ad.target_url }}" class="advertisement-link" data-ad-id="{{ ad.id }}" target="_blank">
                                            <img src="{{ ad.get_image_url }}" class="d-block w-100" alt="{{ ad.advertiser.company_name }}">
                                        </a>
                                    </div>
                                {% endfor %}
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
        
    <!-- Advert -->
    <!-- Mini Blog Area Start -->
    {% if published_events.count > 0 %}
    <section class="mini-blog-area mb--100 mb-sm--50">
        <div class="container">
            <div class="row mb--45">
                <div class="col-12 text-center">
                    <h2>Upcoming Events</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="fp-element-carousel slick-dot-mb-30 slick-dot-style-2" data-slick-options='{
                        "spaceBetween": 30,
                        "slidesToShow": 2,
                        "slidesToScroll": 1,
                        "swipeToSlide": true,
                        "infinite": true,
                        "dots": true
                    }' data-slick-responsive='[
                        {"breakpoint":767, "settings": {
                            "slidesToShow": 1
                        }}
                    ]'>
                        {% for event in published_events %}
                        <div class="item">
                            <article class="mini-blog">
                                <div class="mini-blog__inner">
                                    <div class="mini-blog__thumbnail">
                                        <figure class="image">
                                            <img src="{{event.get_image_url}}" alt="Blog">
                                        </figure>
                                        {% if event.date %}
                                        <span class="mini-blog__date">{{ event.date|date:"j" }} <br>{{ event.date|date:"M" }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="mini-blog__info">
                                        <h3 class="mini-blog__title">
                                            <a href="{% url 'website:events_detail' slug=event.event_slug %}">{{event.title}}</a>
                                        </h3>
                                        <div class="mini-blog__content">
                                            <p>{{event.description|truncatechars:100|safe}}</p>
                                        </div>
                                        <a href="{% url 'website:events_detail' slug=event.event_slug %}" class="read-more btn btn-no-bg btn-color-blue">Read More <i class="fa fa-caret-right"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Mini Blog Area End -->

    {% if executives %}
    <div class="main-content-wrapper">
        <!-- About Content Area Start -->
        <section class="inner-content-area">
            <div class="row mb--45">
                <div class="col-12 text-center">
                    <h2>Executive Officers</h2>
                </div>
            </div>
            <div class="container">
                <div class="row mb--10 mb-md--60">
                    <div class="col-12 order-lg-2">
                        <div class="row">
                            {% for executive in executives %}
                            <div class="col-lg-3 col-sm-6 col-md-6 mb--50">
                                <div class="team-member team-member-style-2">
                                    <div class="team-member__inner">
                                        <figure class="team-member__thumbnail">
                                            <a href="#"><img src="{% if executive.executive_image %} {{executive.get_executive_image_url}}  {% else %} {% static 'website/assets/img/team/ourteam31.png' %} {% endif %}" alt="Team Member"></a>
                                        </figure>
                                        <div class="team-member__info">
                                            <div class="team-member__content">
                                                <h3 class="team-member__name"><a href="#">{{executive.get_full_name}}</a></h3>
                                                <span class="team-member__role">{{executive.executive_position}}</span>
                                            </div>
                                            <ul class="social social-round">
                                                <li class="social__item">
                                                    <a class="social__link" href="{{executive.fb_profile_url}}">
                                                        <i class="social__icon fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="social__item">
                                                    <a class="social__link" href="maito://{{executive.email}}">
                                                        <i class="social__icon fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li class="social__item">
                                                    <a class="social__link" href="{{executive.twitter_profile_url}}">
                                                        <i class="social__icon fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="social__item">
                                                    <a class="social__link" href="{{executive.linkedin_profile_url}}">
                                                        <i class="social__icon fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div> 
            </div>
        </section>
    </div>
    {% endif %}

    <!-- {% if bottom_active_ads %}
    <section class="projects-area mb--100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-inner">
                            {% for ad in bottom_active_ads %}
                                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                    <a href="{{ ad.target_url }}" class="advertisement-link" data-ad-id="{{ ad.id }}" target="_blank">
                                        <img src="{{ ad.get_image_url }}" class="d-block w-100" alt="{{ ad.advertiser.company_name }}">
                                    </a>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}          -->
    
    <!-- Custom JavaScript -->

</div>
<!-- Main Content Wrapper End -->
{% endblock content %}
