{% extends "base/dashboard_base.html" %}
{% load static %} 
{% block title %}Add Internal File{% endblock title %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">

       
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Add Internal File</h4>
                        <p class="card-title-desc">Fill all information below</p>

                        <form id="form-horizontal" class="form-horizontal form-wizard-wrapper">
                            <h3>File Details</h3>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            <label for="fileTitle" class="col-lg-1 col-form-label">Title</label>
                                            <div class="col-lg-11">
                                                <input id="fileTitle" name="file_title" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtLastNameBilling" class="col-lg-3 col-form-label">Category</label>
                                            <div class="col-lg-9">
                                                <input id="txtLastNameBilling" name="txtLastNameBilling" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtCompanyBilling" class="col-lg-3 col-form-label">Sender</label>
                                            <div class="col-lg-9">
                                                <input id="txtCompanyBilling" name="txtCompanyBilling" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtEmailAddressBilling" class="col-lg-3 col-form-label">Receiver</label>
                                            <div class="col-lg-9">
                                                <input id="txtEmailAddressBilling" name="txtEmailAddressBilling" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        <label for="txtAddress1Billing" class="col-lg-3 col-form-label">Date</label>
                                        <div class="col-lg-9">
                                            <textarea id="txtAddress1Billing" name="txtAddress1Billing" rows="4" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <h3>FIle Visibility</h3>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtFirstNameShipping" class="col-lg-3 col-form-label">PAN Card</label>
                                            <div class="col-lg-9">
                                                <input id="txtFirstNameShipping" name="txtFirstNameShipping" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtLastNameShipping" class="col-lg-3 col-form-label">VAT/TIN No.</label>
                                            <div class="col-lg-9">
                                                <input id="txtLastNameShipping" name="txtLastNameShipping" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtCompanyShipping" class="col-lg-3 col-form-label">CST No.</label>
                                            <div class="col-lg-9">
                                                <input id="txtCompanyShipping" name="txtCompanyShipping" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtEmailAddressShipping" class="col-lg-3 col-form-label">Service Tax No.</label>
                                            <div class="col-lg-9">
                                                <input id="txtEmailAddressShipping" name="txtEmailAddressShipping" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtCityShipping" class="col-lg-3 col-form-label">Company UIN</label>
                                            <div class="col-lg-9">
                                                <input id="txtCityShipping" name="txtCityShipping" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtStateProvinceShipping" class="col-lg-3 col-form-label">Declaration</label>
                                            <div class="col-lg-9">
                                                <input id="txtStateProvinceShipping" name="txtStateProvinceShipping" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            <h3>Upload File(s)</h3>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtNameCard" class="col-lg-3 col-form-label">Name on Card</label>
                                            <div class="col-lg-9">
                                                <input id="txtNameCard" name="txtNameCard" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="ddlCreditCardType" class="col-lg-3 col-form-label">Credit Card Type</label>
                                            <div class="col-lg-9">
                                                <select id="ddlCreditCardType" name="ddlCreditCardType" class="form-select">
                                                        <option value="">--Please Select--</option>
                                                        <option value="AE">American Express</option>
                                                        <option value="VI">Visa</option>
                                                        <option value="MC">MasterCard</option>
                                                        <option value="DI">Discover</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtCreditCardNumber" class="col-lg-3 col-form-label">Credit Card Number</label>
                                            <div class="col-lg-9">
                                                <input id="txtCreditCardNumber" name="txtCreditCardNumber" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtCardVerificationNumber" class="col-lg-3 col-form-label">Card Verification Number</label>
                                            <div class="col-lg-9">
                                                <input id="txtCardVerificationNumber" name="txtCardVerificationNumber" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label for="txtExpirationDate" class="col-lg-3 col-form-label">Expiration Date</label>
                                            <div class="col-lg-9">
                                                <input id="txtExpirationDate" name="txtExpirationDate" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <h3>Status Check</h3>
                            <fieldset>
                                <div class="p-3">
                                    <div class="">
                                        <input type="checkbox" class="form-check-input me-2" id="customCheck1">
                                        <label class="form-label" for="customCheck1">I agree with the Terms and Conditions.</label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}

{% block my_scripts %}
<!-- form wizard -->
<script src="{% static 'dashboard/assets/libs/jquery-steps/build/jquery.steps.min.js' %}"></script>

<!-- form wizard init -->
<script src="{% static 'dashboard/assets/js/pages/form-wizard.init.js' %}"></script>
{% endblock my_scripts %}