{% extends "base/dashboard_base.html" %}
{% load static %} 
{% block title %}Add Internal File{% endblock title %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">

       
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}
{% block my_styles %}
 <!-- Plugins css -->
 <link href="{% static 'dashboard/assets/libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css">
{% endblock my_styles %}

{% block my_scripts %}
<!-- form wizard -->
<script src="{% static 'dashboard/assets/libs/jquery-steps/build/jquery.steps.min.js' %}"></script>

<!-- form wizard init -->
<script src="{% static 'dashboard/assets/js/pages/form-wizard.init.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'dashboard/assets/libs/dropzone/min/dropzone.min.js' %}"></script>
{% endblock my_scripts %}