{% extends "base/dashboard_base.html" %}
{% load static %}
{% block title %}
    {% if user.is_authenticated %}
        {% if user.is_admin or user.is_superuser %}
            Admin
        {% elif user.is_secretary %}
            Secretary
        {% else %}
            Member
        {% endif %}
    {% endif %}
{% endblock title %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h6 class="page-title">Dashboard</h6>
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to UG-UTAG
                        {% if user.is_authenticated %}
                            {% if user.is_admin or user.is_superuser %}
                                Admin
                            {% elif user.is_secretary and user.is_executive  %}
                                Secretary
                            {% elif user.is_executive %}
                                Executive
                            {% else %}
                                Member
                            {% endif %}
                        {% endif %}
                            Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary text-white">
                    <div class="card-body">
                        <div class="mb-4">
                            <div class="float-start mini-stat-img me-4">
                                <img src="{% static 'dashboard/assets/images/services-icon/01.png' %}" alt="">
                            </div>
                            <h5 class="font-size-14 text-uppercase text-white-50">Internal Files</h5>
                            <h4 class="fw-medium font-size-20">
                                {% if total_documents > 0 %}
                                {{total_documents}}
                                {% else %}
                                0
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if user.is_admin or user.is_superuser or user.is_executive %}
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary text-white">
                    <div class="card-body">
                        <div class="mb-4">
                            <div class="float-start mini-stat-img me-4">
                                <img src="{% static 'dashboard/assets/images/services-icon/02.png' %}" alt="">
                            </div>
                            <h5 class="font-size-14 text-uppercase text-white-50">External Files</h5>
                            <h4 class="fw-medium font-size-20">
                                {% if total_external_documents > 0 %}
                                {{total_external_documents}}
                                {% else %}
                                0
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary text-white">
                    <div class="card-body">
                        <div class="mb-4">
                            <div class="float-start mini-stat-img me-4">
                                <img src="{% static 'dashboard/assets/images/services-icon/02.png' %}" alt="">
                            </div>
                            <h5 class="font-size-14 text-uppercase text-white-50">Announcements</h5>
                            <h4 class="fw-medium font-size-20">
                                {% if total_announcements > 0 %}
                                {{total_announcements}}
                                {% else %}
                                0
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
                
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary text-white">
                    <div class="card-body">
                        <div class="mb-4">
                            <div class="float-start mini-stat-img me-4">
                                <img src="{% static 'dashboard/assets/images/services-icon/03.png' %}" alt="">
                            </div>
                            <h5 class="font-size-14 text-uppercase text-white-50"> Executives</h5>
                            <h4 class="fw-medium font-size-20">
                                {% if total_executives > 0 %}
                                {{total_executives}}
                                {% else %}
                                0
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            {% if request.user.is_superuser or request.user.is_admin %}
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary text-white">
                    <div class="card-body">
                        <div class="mb-4">
                            <div class="float-start mini-stat-img me-4">
                                <img src="{% static 'dashboard/assets/images/services-icon/04.png' %}" alt="">
                            </div>
                            <h5 class="font-size-14 text-uppercase text-white-50"> Admins</h5>
                            <h4 class="fw-medium font-size-20">
                                {% if total_admins > 0 %}
                                {{total_admins}}
                                {% else %}
                                0
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
             <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary text-white">
                    <div class="card-body">
                        <div class="mb-4">
                            <div class="float-start mini-stat-img me-2">
                                <img src="{% static 'dashboard/assets/images/services-icon/04.png' %}" alt="">
                            </div>
                            <h5 class="font-size-14 text-uppercase text-white-50"> Members</h5>
                            <h4 class="fw-medium font-size-20">
                                {% if total_members > 0 %}
                                {{total_members}}
                                {% else %}
                                0
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- end row -->
        
        {% if published_events and published_news %}
        <div class="row">
            
            {% if published_events %}
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Events</h4>
                        <ol class="activity-feed">
                            {% for event in published_events %}
                            <li class="feed-item">
                                <div class="feed-item-list">
                                    <span class="date">{{ event.date|date:"M" }} {{ event.date|date:"j" }}</span>
                                    <span class="activity-text">{{event.title}}</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                        <div class="text-center">
                            <a href="{% url 'dashboard:events' %}" class="btn btn-sm btn-primary">View All</a>
                        </div>
                    </div>
                </div>
            </div>  
            {% endif %}
            
            {% if published_news %}
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">News</h4>
                        <ol class="activity-feed">
                            {% for news in published_news %}
                            <li class="feed-item">
                                <div class="feed-item-list">
                                    <span class="date">{{ news.date|date:"M" }} {{ news.date|date:"j" }}</span>
                                    <span class="activity-text">{{news.title}}</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                        <div class="text-center">
                            <a href="{% url 'dashboard:news' %}" class="btn btn-sm btn-primary">View All</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <!-- end row -->

        <div class="row">
            
            {% if recent_added_documents and user.is_admin or user.is_superuser %}
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Recently Added Documents</h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-centered table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">(#)</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">By</th>
                                        <th scope="col" colspan="2">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for document in recent_added_documents %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>
                                            {{document.title}}
                                        </td>
                                        <td>{{document.date |date:'m/d/y'}}</td>
                                        <td>{{document.uploaded_by.get_short_name}}</td>
                                        <td>
                                            {% if document.category == 'external' %}
                                            <span class="badge bg-success">External</span>
                                            {% else %}
                                            <span class="badge bg-primary">Internal</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    <div class="text-center mb-2">
                        <a href="{% url 'dashboard:documents' %}" class="btn btn-sm btn-primary">View All</a>
                    </div>
                </div>
            </div>
                
            {% endif %}
            
            {% if active_adverts and user.is_admin or user.is_superuser%}
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Active Adverts</h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-centered table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">(#)</th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Click Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ad in active_adverts %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>
                                            {{ad.advertiser.company_name}}
                                        </td>
                                        <td>{{ad.start_date |date:'m/d/y'}}</td>
                                        <td>{{ad.end_date |date:'m/d/y'}}</td>
                                        <td>{{ad.clicks}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center mb-2">
                        <a href="{% url 'dashboard:adverts' %}" class="btn btn-sm btn-primary">View All</a>
                    </div>
                </div>
            </div>
            {% endif %}
                
            <!-- <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Chat</h4>
                        <div class="chat-conversation">
                            <ul class="conversation-list" data-simplebar style="max-height: 367px;">
                                <li class="clearfix">
                                    <div class="chat-avatar">
                                        <img src="{% static 'dashboard/assets/images/users/profile.png' %}" class="avatar-xs rounded-circle" alt="male">
                                        <span class="time">10:00</span>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <span class="user-name">John Deo</span>
                                            <p>
                                                Hello!
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix odd">
                                    <div class="chat-avatar">
                                        <img src="{% static 'dashboard/assets/images/users/profile.png' %}" class="avatar-xs rounded-circle" alt="Female">
                                        <span class="time">10:01</span>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <span class="user-name">Smith</span>
                                            <p>
                                                Hi, How are you? What about our next meeting?
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="chat-avatar">
                                        <img src="{% static 'dashboard/assets/images/users/profile.png' %}" class="avatar-xs rounded-circle" alt="male">
                                        <span class="time">10:04</span>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <span class="user-name">John Deo</span>
                                            <p>
                                                Yeah everything is fine
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix odd">
                                    <div class="chat-avatar">
                                        <img src="{% static 'dashboard/assets/images/users/profile.png' %}" class="avatar-xs rounded-circle" alt="male">
                                        <span class="time">10:05</span>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <span class="user-name">Smith</span>
                                            <p>
                                                Wow that's great
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix odd">
                                    <div class="chat-avatar">
                                        <img src="{% static 'dashboard/assets/images/users/profile.png' %}" class="avatar-xs rounded-circle" alt="male">
                                        <span class="time">10:08</span>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <span class="user-name mb-2">Smith</span>

                                            <img src="{% static 'dashboard/assets/images/small/img-1.jpg' %}" alt="" height="48" class="rounded me-2">
                                            <img src="{% static 'dashboard/assets/images/small/img-2.jpg' %}" alt="" height="48" class="rounded">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-sm-9 col-8 chat-inputbar">
                                    <input type="text" class="form-control chat-input" placeholder="Enter your text">
                                </div>
                                <div class="col-sm-3 col-4 chat-send">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-success">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</div>
{% endblock content %}