{% extends "base/dashboard_base.html" %}
{% block title %}
  Notifications
{% endblock title %}
{% load static %}
{% block content %}
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h6 class="page-title">Notifications</h6>
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard:dashboard' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Notifications</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- end page title -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Notifications — System Messages</h4>
              <div class="mt-3">
                <table id="datatable"
                       class="table table-bordered dt-responsive nowrap"
                       style="border-collapse: collapse;
                              border-spacing: 0;
                              width: 100%">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Announcement Title</th>
                      <th>Status</th>
                      <th>Created at</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for notification in user_notifications %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                          <a href="#"
                             class="view-details"
                             data-id="{{ notification.id }}"
                             data-bs-toggle="modal"
                             data-bs-target="#detailsModal">{{ notification.announcement.title }}</a>
                        </td>
                        <td>
                          <span class="badge {% if notification.status == 'READ' %} bg-success {% else %} bg-warning {% endif %}">
                            {{ notification.status }}
                          </span>
                        </td>
                        <td>{{ notification.created_at|date:"d M Y" }}</td>
                        <td>
                          {% if notification.status == 'UNREAD' %}
                            <a href="#"
                               class="view-details btn btn-sm btn-primary"
                               data-id="{{ notification.id }}"
                               data-bs-toggle="modal"
                               data-bs-target="#detailsModal">Read</a>
                          {% endif %}
                          <a href="{% url 'dashboard:delete_notification' notification_id=notification.id %}"
                             class="btn btn-sm btn-danger">Delete</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Details Modal -->
  <div class="modal fade"
       id="detailsModal"
       tabindex="-1"
       aria-labelledby="detailsModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailsModalLabel">Notification Details</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 id="announcementTitle"></h5>
          <p id="announcementContent"></p>
          <!-- <p><strong>Status:</strong> <span id="notificationStatus"></span></p>
        <p><strong>Created at:</strong> <span id="notificationCreatedAt"></span></p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block my_styles %}
  <!-- DataTables -->
  <link href="{% static 'dashboard/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}"
        rel="stylesheet"
        type="text/css">
  <link href="{% static 'dashboard/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}"
        rel="stylesheet"
        type="text/css">
  <!-- Responsive datatable examples -->
  <link href="{% static 'dashboard/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
        rel="stylesheet"
        type="text/css">
{% endblock my_styles %}
{% block my_scripts %}
  <!-- Required datatable js -->
  <script src="{% static 'dashboard/assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <!-- Responsive examples -->
  <script src="{% static 'dashboard/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
  <!-- Datatable init js -->
  <script src="{% static 'dashboard/assets/js/pages/datatables.init.js' %}"></script>
  <script src="{% static 'dashboard/assets/libs/parsleyjs/parsley.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/pages/form-validation.init.js' %}"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Function to fetch and display notification details
        document.querySelectorAll('.view-details').forEach(function(element) {
          element.addEventListener('click', function(event) {
            event.preventDefault();
            var notificationId = this.getAttribute('data-id');
            
            fetch(`notifications/notification_details/${notificationId}/`)
              .then(response => response.json())
              .then(data => {
                document.getElementById('announcementTitle').innerText = data.announcement_title;
                document.getElementById('announcementContent').innerHTML = data.announcement_content;
                
                //document.getElementById('notificationStatus').innerText = data.status;
                //document.getElementById('notificationCreatedAt').innerText = data.created_at;
                // Show the modal
                var myModal = new bootstrap.Modal(document.getElementById('notificationDetailsModal'));
                myModal.show();

              })
              .catch(error => console.error('Error fetching notification details:', error));
          });
        });
        // Reload the page when the modal is closed
        var detailsModal = document.getElementById('detailsModal');
        detailsModal.addEventListener('hide.bs.modal', function (event) {
          location.reload();
        });
      });
  </script>
{% endblock my_scripts %}
