<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Main</li>
                {% if perms.accounts.view_dashboard %}
                <li>
                    <a href="{% url 'dashboard:dashboard' %}" class="waves-effect">
                        <i class="ti-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                {% endif %}

                {% if perms.accounts.view_admin or perms.accounts.view_member %}
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-users-cog"></i>
                        <span>Account Mgt</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        {% if perms.accounts.view_admin %}
                        <li><a href="{% url 'dashboard:admins' %}">Admins</a></li>
                        {% endif %}
                        {% if perms.accounts.view_member %}
                        <li><a href="{% url 'dashboard:members' %}">Members</a></li>
                        {% endif %}

                    </ul>
                </li>
                {% endif %}

                {% if perms.accounts.view_executive %}
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-users"></i>
                        <span>Executives</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'dashboard:executive_members' %}">All Executives</a></li>
                    </ul>
                </li>
                {% endif %}

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="far fa-file-archive"></i>
                        <span>File Mgt</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'dashboard:documents' %}">Documents</a></li>
                    </ul>
                </li>

                <li class="menu-title">Site Management</li>

                {% if perms.dashboard.view_event %}
                <li>
                    <a href="{% url 'dashboard:events' %}" class="">
                        <i class="fas fa-calendar-check"></i>
                        <span>Events</span>
                    </a>
                </li>
                {% endif %}
                {% if perms.dashboard.view_carouselslide %}
                <li>
                    <a href="{% url 'dashboard:carousel_slide_list' %}" class="">
                        <i class="fas fa-tv"></i>
                        <span>Carousel Sliders</span>
                    </a>
                </li>
                {% endif %}

                {% if perms.dashboard.view_news %}
                <li>
                    <a href="{% url 'dashboard:news' %}" class="waves-effect">
                        <i class="fas fa-newspaper"></i>
                        <span>News</span>
                    </a>
                </li>
                {% endif %}

                {% if perms.dashboard.view_announcement %}
                <li>
                    <a href="{% url 'dashboard:announcements' %}" class="waves-effect">
                        <i class="fas fa-bullhorn"></i>
                        <span>Announcements</span>
                    </a>
                </li>
                {% endif %}
                {% if perms.dashboard.view_notification %}
                <li>
                    <a href="{% url 'dashboard:notifications' %}" class="waves-effect">
                        <i class="mdi mdi-bell"></i>
                        <span>Notifications</span>
                    </a>
                </li>
                {% endif %}

                {% if perms.adverts.view_advertisement %}
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-ad"></i>
                        <span>Advert Mgt</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'dashboard:plans' %}">Plans</a></li>
                        <li><a href="{% url 'dashboard:companies' %}">Companies</a></li>
                        <li><a href="{% url 'dashboard:adverts' %}">Adverts</a></li>
                    </ul>
                </li>
                {% endif %}

                <li class="menu-title">Settings</li>

                <li>
                    <a href="{% url 'dashboard:profile' %}" class="waves-effect">
                        <i class="fas fa-user-cog"></i>
                        <span>Profile</span>
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'accounts:logout' %}" class="waves-effect">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
