<!-- Modal for Add -->
{% load static %}
{% for officer in executive_officers %}
<div
  class="modal fade bs-example-modal-lg"
  id="officerModal_{{officer.id}}"
  tabindex="-1"
  aria-labelledby="officerModal_{{officer.id}}"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="officerModal_{{officer.id}}Label">
          {{officer.get_short_name}}'s Detail
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row mb-3">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="{% if officer.profile_pic %} {{officer.get_profile_pic_url}} {% else %} {% static 'dashboard/assets/images/users/profile.png' %} {% endif %}" alt="{{officer.first_name}}" class="rounded-circle p-1 bg-primary" width="110">
                  <div class="mt-3">
                    <h4>{{officer.get_full_name}}</h4>
                    <p class="mb-1">{{officer.executive_position}}</p>
                    {% if officer.is_active_executive %}
                      <p class="text-success mb-1">Active Executive</p>
                    {% else %}
                      <p class="text-danger mb-1">Inactive Executive</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row mb-3">
                <div class="col-md-6">
                  <p><strong>Title:</strong> {{officer.title}}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>First Name:</strong> {{officer.first_name}}</p>
                </div>
              </div>
              {% if officer.other_name %}
              <div class="row mb-3">
                <div class="col-md-6">
                  <p><strong>Other Name:</strong> {{officer.other_name}}</p>
                </div>
              </div>
              {% endif %}
              <div class="row mb-3">
                <div class="col-md-6">
                  <p><strong>Last Name:</strong> {{officer.last_name}}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Gender:</strong> {{officer.gender}}</p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <p><strong>Email:</strong> {{officer.email}}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Phone Number:</strong> {{officer.phone_number}}</p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <p><strong>Department:</strong> {{officer.department}}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Date Appointed:</strong> {{officer.date_appointed}}</p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <p><strong>Date Ended:</strong> {{officer.date_ended}}</p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <p><strong>Facebook Profile:</strong> <a href="{{officer.fb_profile_url}}" target="_blank">{{officer.fb_profile_url}}</a></p>
                </div>
                <div class="col-md-6">
                  <p><strong>Twitter Profile:</strong> <a href="{{officer.twitter_profile_url}}" target="_blank">{{officer.twitter_profile_url}}</a></p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <p><strong>LinkedIn Profile:</strong> <a href="{{officer.linkedin_profile_url}}" target="_blank">{{officer.linkedin_profile_url}}</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}