<!-- Modal for News Details -->

{% for news in newss %}

<div
class="modal fade bs-example-modal-lg"
id="newsModal_{{news.id}}"
tabindex="-1"
aria-labelledby="newsModal_{{news.id}}"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-lg">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="newsModal_{{news.id}}Label">
      {{ news.title }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <img
          src="{{ news.get_featured_image_url }}"
          alt="{{ news.title }}"
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-6">
        <p>
          <strong>Content:</strong>
          {{ news.content|safe }}
        </p>
        <p>
          <strong>Author:</strong>
          {{ news.author.get_full_name }}
        </p>
        {% if news.tags %}
        <p>
          <strong>Tags:</strong>
          {{ news.tags }}
        </p>
        {% endif %}
        <p>
          <strong>Created At:</strong>
          {{ news.created_at }}
        </p>
        <p>
          <strong>Updated At:</strong>
          {{ news.updated_at }}
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Close
    </button>
  </div>
</div>
</div>
</div>
    
{% endfor %}