<!-- Edit Document Modal -->
{% load static %}
{% for document in documents %}
<div class="modal fade" id="editDocumentModal_{{ document.id }}" tabindex="-1" role="dialog" aria-labelledby="editDocumentModal_{{ document.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDocumentModal_{{ document.id }}Label">Edit - {{ document.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'dashboard:update_document' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="document_id" value="{{ document.id }}">
                    <div class="form-group mt-5 mb-5">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ document.title }}" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="sender">Sender</label>
                        <input type="text" class="form-control" id="sender" name="sender" value="{{ document.sender }}" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="receiver">Receiver</label>
                        <input type="text" class="form-control" id="receiver" name="receiver" value="{{ document.receiver }}" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="date">Date: </label><span class="text-success"> {{ document.date }}</span>
                        <input type="date" class="form-control" id="date" name="date" value="{{ document.date }}">
                    </div>
                    {% if document.files.all %}
                    <p class="text-success">Existing Files</p>
                    <div class="card">
                      <div class="row mb-3 mt-3">
                            {% for file in document.files.all %}
                            {% if not file.deleted %} {# Add this condition to exclude deleted files #}
                            <div class="col-md-2" id="file_{{ file.id }}">
                                {% if file.file.name|lower|slice:'-4:' == ".png" or file.file.name|lower|slice:'-4:' == ".jpg" or file.file.name|lower|slice:'-5:' == ".jpeg" or file.file.name|lower|slice:'-4:' == ".gif" %}
                                <!-- Display image preview -->
                                <a href="{{ file.file.url }}" target="_blank">
                                    <img src="{{ file.file.url }}" class="img-fluid" alt="{{ file.file.name }}">
                                </a>
                                {% else %}
                                <!-- Display generic document icon for non-image files -->
                                <a href="{{ file.file.url }}" target="_blank">
                                    <img src="{% static 'dashboard/assets/images/file/generic.png' %}" alt="Document Icon" class="img-fluid">
                                </a>
                                {% endif %}
                                <div class="text-center mb-2">
                                    <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeFile('{{ file.id }}')">Remove</button>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                          </div>
                      </div>
                    {% endif %}

                    <div class="form-group mb-2">
                        <label for="files">Files</label>
                        <input type="file" class="form-control-file" id="files" name="files" multiple>
                    </div>
                    <div class="form-group mb-2">
                        <label for="text_area">Description</label>
                        <textarea class="form-control" id="text_area" name="description" rows="3">{{ document.description }}</textarea>
                    </div>
                    <div class="form-group mb-2">
                        <label for="status">Status</label>
                        <select class="form-select" id="status" name="status" required>
                            <option value="">Select Status</option>
                            <option value="approved" {% if document.status == 1 %} selected {% endif %}>Approved</option>
                        </select>
                    </div>
                    <div class="modal-footer mt-5">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
      function removeFile(fileId) {
          if (confirm("Are you sure you want to remove this file?")) {
              $.ajax({
                  type: 'POST',
                  url: 'delete_file/',  // Replace with the URL mapped to your DeleteFileView
                  data: {
                      'file_id': fileId,
                      'csrfmiddlewaretoken': '{{ csrf_token }}'
                  },
                  success: function(response) {
                      if (response.success) {
                          $('#file_' + fileId).remove();
                      } else {
                          alert('Failed to remove the file: ' + response.error);
                      }
                  },
                  error: function(xhr, status, error) {
                      console.error('Error removing file:', error);
                      alert('An error occurred while removing the file. Please try again later.');
                  }
              });
          }
      }
  </script>  
</div>
{% endfor %}