<!-- Existing Member Modal -->
{% for executive in executive_officers %}
<div class="modal fade bs-example-modal-lg" id="editOfficerModal_{{executive.id}}" tabindex="-1" aria-labelledby="editOfficerModal_{{executive.id}}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editOfficerModal_{{executive.id}}Label">Update Officer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'dashboard:update_officer' %}" method="post">
        {% csrf_token %}
      <div class="modal-body">
        <input type="hidden" name="executive_id" value="{{executive.id}}">
        <div class="mb-3">
          <label class="form-label">Select a member</label>
          <select class="form-control select2" name="member_email" disabled value="{{executive.get_full_name}}}">
            <optgroup label="List of Member">
              {% for member in members %}
                <option {% if member.email == executive.email %} selected {% endif %} value="{{member.email}}">{{member.get_full_name}}</option>
              {% endfor %}
            </optgroup>
          </select>
        </div>
        <hr class="mt-4 mb-4">
        <div class="mb-3">
          <label class="form-label" for="id_title">Position</label>
          <select id="id_title" class="form-control" required name="position">
            <option value="" selected disabled>Select a title</option>
            <option value="President" {% if executive.executive_position == 'President' %} selected {% endif %}>President</option>
            <option value="Vice President" {% if executive.executive_position == 'Vice President' %} selected {% endif %}>Vice President</option>
            <option value="Secretary" {% if executive.executive_position == 'Secretary' %} selected {% endif %}>Secretary</option>
            <option value="Treasurer" {% if executive.executive_position == 'Treasurer' %} selected {% endif %}>Treasurer</option>
            <option value="Committee Member" {% if executive.executive_position == 'Committee Member' %} selected {% endif %}>Committee Member</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="validationOfficerFbUsername" class="form-label">Facebook Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="validationOfficerFbUsername" name="fb_username" {% if executive.fb_username %} value="{{executive.fb_username}}" {% endif %} />
          </div>
        </div>
        <div class="mb-3">
          <label for="validationOfficerTwitterUsername" class="form-label">Twitter Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="validationOfficerTwitterUsername" name="twitter_username" {% if executive.twitter_username %} value="{{executive.twitter_username}}" {% endif %} />
          </div>
        </div>
        <div class="mb-3">
          <label for="validationOfficerLinkedinUsername" class="form-label">Linkedin Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="validationOfficerLinkedinUsername" name="linkedin_username" {% if executive.linkedin_username %} value="{{executive.linkedin_username}}" {% endif %} />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Date Appointed</label>
          <div class="input-group" id="datepicker2">
            <input type="text" class="form-control" placeholder="dd M, yyyy" data-date-format="dd M, yyyy" data-date-container="#datepicker2" data-provide="datepicker" data-date-autoclose="true" name="date_appointed" value="{{executive.date_appointed|date:'d M, Y'}}" />
            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Date Ended</label>
          <div class="input-group" id="datepicker3">
            <input type="text" class="form-control" placeholder="dd M, yyyy" data-date-format="dd M, yyyy" data-date-container="#datepicker3" data-provide="datepicker" data-date-autoclose="true" name="date_ended" {% if executive.date_ended %} value="{{executive.date_ended}}" {% endif %} />
            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
          </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="mb-3">
          <label class="form-label">Is Member Active?</label>
          <div class="form-check form-switch">
            <input class="form-check form-switch" type="checkbox" id="switch6" name="active" switch="primary" {% if executive.is_active %} checked {% endif %}>
            {% if executive.is_active %}
              <label class="form-label" for="switch6" data-on-label="Active" data-off-label="Inactive"></label>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script>
  // Your existing script for datepicker initialization (if needed)
  document.addEventListener("DOMContentLoaded", function () {
    $('#datepicker2').datepicker();
    $('#datepicker3').datepicker();
  });
</script>
{% endfor %}
