{% load static %}
{% for document in documents %}
<!-- Modal for Document Detail -->
<div class="modal fade" id="documentDetailModal_{{ document.id }}" tabindex="-1" role="dialog" aria-labelledby="documentDetailModal_{{ document.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ document.title }}</h5>
                <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body p-5">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Uploaded By:</strong> {{ document.uploaded_by.get_full_name }}</p>
                        <p><strong>Category:</strong> {{ document.get_category_display }}</p>
                        <p><strong>Date:</strong> {{ document.date }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Sender:</strong> {{ document.sender }}</p>
                        <p><strong>Receiver:</strong> {{ document.receiver }}</p>
                        <p><strong>Status:</strong> {{ document.get_status_display }}</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Title</h5>
                        <div class="card">
                            <div class="card-body">
                                <p>{{ document.title }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Description</h5>
                        <div class="card">
                            <div class="card-body">
                                <p>{{ document.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% if document.files.all %}
                    <p class="text-success">Uploaded Document</p>
                    <div class="card">
                      <div class="row mb-3 mt-3">
                            {% for file in document.files.all %}
                            {% if not file.deleted %} {# Add this condition to exclude deleted files #}
                            <div class="col-md-2" id="file_{{ file.id }}">
                                {% if file.file.name|lower|slice:'-4:' == ".png" or file.file.name|lower|slice:'-4:' == ".jpg" or file.file.name|lower|slice:'-5:' == ".jpeg" or file.file.name|lower|slice:'-4:' == ".gif" %}
                                <!-- Display image preview -->
                                <a href="{{ file.file.url }}" target="_blank">
                                    <img src="{{ file.file.url }}" class="img-fluid" alt="{{ file.file.name }}">
                                </a>
                                {% else %}
                                <!-- Display generic document icon for non-image files -->
                                <a href="{{ file.file.url }}" target="_blank">
                                    <img src="{% static 'dashboard/assets/images/file/generic.png' %}" alt="Document Icon" class="img-fluid">
                                </a>
                                {% endif %}
                                <div class="text-center mb-2">
                                    <a href="#" class="btn btn-danger btn-sm mt-2" onclick="removeFile('{{ file.id }}')">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                    <a href="{{ file.file.url }}" class="btn btn-sm btn-success mt-2" target="_blank">
                                        <i class="mdi mdi-eye"></i>
                                    </a>
                                    <a href="{{ file.file.url }}" class="btn btn-sm btn-primary mt-2" download>
                                        <i class="mdi mdi-download"></i>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                          </div>
                      </div>
                    {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
