<!-- Modal for Add -->
{% load static %}
{% for officer in executive_officers %}
<div
  class="modal fade bs-example-modal-lg"
  id="officerModal_{{officer.id}}"
  tabindex="-1"
  aria-labelledby="officerModal_{{officer.id}}"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="officerModal_{{officer.id}}Label">
          {{officer.member.get_short_name}}'s Detail
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="{% if officer.profile_pic %} {{officer.get_profile_pic_url}} {% else %} {% static 'dashboard/assets/images/users/profile.png' %} {% endif %}" alt="{{officer.first_name}}" class="rounded-circle p-1 bg-primary" width="110">
                    <div class="mt-3">
                        <h4>{{officer.member.get_full_name}}</h4>
                        <p class="mb-1">{{officer.position.name}} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <p>
              <strong>Title:</strong>
              <span id="officer-name">{{officer.member.title}}</span>
            </p>
            <p>
              <strong>First Name:</strong>
              <span id="officer-name">{{officer.member.first_name}}</span>
            </p>
            {% if officer.member.other_name %}
            <p>
              <strong>Other Name:</strong>
              <span id="officer-name">{{officer.member.other_name}}</span>
            </p>
            {% endif %}
            <p>
                <strong>Last Name:</strong>
                <span id="officer-name">{{officer.member.last_name}}</span>
              </p>
            <p>
              <strong>Email:</strong>
              <span id="officer-email">{{officer.member.email}}</span>
            </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
