{% extends 'base/dashboard_base.html' %}
{% load static %}
{% block title %}
{% if news.pk %}
      Update
    {% else %}
      Create
    {% endif %}
{% endblock title %}
{% block content %}
<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-md-8">
                <h4 class="card-title">
                  {% if news.pk %}
                    Update Announcement
                  {% else %}
                    Create Announcement
                  {% endif %}
                </h4>
              </div>
            </div>

            <form id="newsForm" class="custom-validation" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="title" class="form-label">Announcement Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ initial_data.title }}" required>
              </div>

              <div class="mb-3">
                <label for="content" class="form-label">Announcement Content</label>
                <textarea class="form-control" id="content" name="content" rows="10">{{ initial_data.content }}</textarea>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label for="announcement_target_group">Target Group</label>
                    <select class="form-control" id="announcement_target_group" name="target_group" required>
                        <option value="ALL">All</option>
                        <option value="MEMBERS">Members</option>
                        <option value="EXECUTIVES">Executives</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="announcement_status">Status</label>
                    <select class="form-control" id="announcement_status" name="status" required>
                        <option value="DRAFT">Draft</option>
                        <option value="PUBLISHED">Published</option>
                        <option value="ARCHIVED">Archived</option>
                    </select>
                </div>
            </div>

              <button type="submit" class="btn btn-primary waves-effect waves-light me-1">Submit</button>
              <a href="#" class="btn btn-secondary waves-effect">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block my_styles %}
 <!-- DataTables -->
 <link href="{% static 'dashboard/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
 <link href="{% static 'dashboard/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">

 <!-- Responsive datatable examples -->
 <link href="{% static 'dashboard/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
{% endblock my_styles %}
{% block my_scripts %}

    <!-- Required datatable js -->
    <script src="{% static 'dashboard/assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'dashboard/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatable init js -->
    <script src="{% static 'dashboard/assets/js/pages/datatables.init.js' %}"></script>

    <script src="{% static 'dashboard/assets/libs/parsleyjs/parsley.min.js' %}"></script>
    
    <script src="{% static 'dashboard/assets/js/pages/form-validation.init.js' %}"></script>

    <script src="https://cdn.tiny.cloud/1/o2od9vtnj8aoy1tgpyf7siqsvkg91xau2fyy5dlo0h5sy1an/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
          selector: '#content',
          plugins: 'lists link image',
          toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link image',
      });
    </script>
{% endblock my_scripts %}