{% extends 'base/dashboard_base.html' %}
{% load static %}
{% block title %}
{% if document %}
  Update Document - {{ document.title }}
{% else %}
  Add Document
{% endif %}
{% endblock title %}
{% block content %}
<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-md-8">
                <h4 class="card-title">
                  {% if document %}
                    Update Document - {{ document.title }}
                  {% else %}
                    Add Document
                  {% endif %}
                </h4>
              </div>
            </div>

            <form id="documentForm" class="custom-validation" method="POST" action="{% if document %}{% url 'dashboard:update_document' document_id=document.id %}{% else %}{% url 'dashboard:create_document' %}{% endif %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if document %}
                <input type="hidden" name="document_id" value="{{ document.id }}">
                {% endif %}
                
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title" value="{% if document %}{{ document.title }}{% endif %}" required>
                </div>
                
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label for="sender" class="form-label">Sender</label>
                    <input type="text" class="form-control" id="sender" name="sender" value="{% if document %}{{ document.sender }}{% endif %}" required>
                  </div>
                  <div class="mb-3 col-md-6">
                    <label for="receiver" class="form-label">Receiver</label>
                    <input type="text" class="form-control" id="receiver" name="receiver" value="{% if document %}{{ document.receiver }}{% endif %}" required>
                  </div>
                </div>
                
                {% if document and document.files.all %}
                <p class="text-success">Existing Files</p>
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      {% for file in document.files.all %}
                      <div class="col-md-2" id="file_{{ file.id }}">
                        {% if file.file.name|lower|slice:'-4:' == ".png" or file.file.name|lower|slice:'-4:' == ".jpg" or file.file.name|lower|slice:'-5:' == ".jpeg" or file.file.name|lower|slice:'-4:' == ".gif" %}
                        <a href="{{ file.file.url }}" target="_blank">
                          <img src="{{ file.file.url }}" class="img-fluid" alt="{{ file.file.name }}">
                        </a>
                        {% else %}
                        <a href="{{ file.file.url }}" target="_blank">
                          <img src="{% static 'dashboard/assets/images/file/generic.png' %}" alt="Document Icon" class="img-fluid">
                        </a>
                        {% endif %}
                        <div class="text-center mt-2">
                          <button type="button" class="btn btn-danger btn-sm" onclick="removeFile('{{ file.id }}')">Remove</button>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endif %}
              
                <div class="mb-3">
                  <label for="files" class="form-label">Files</label>
                  <input type="file" class="form-control" id="files" name="files" multiple>
                </div>
              
                <div class="mb-3">
                  <label for="text_area" class="form-label">Description</label>
                  <textarea class="form-control" id="text_area" name="description" rows="10">{% if document %}{{ document.description }}{% endif %}</textarea>
                </div>
                
                <div class="row">
                  <div class="mb-3 col-md-4">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" name="category" required>
                      <option value="">Select Category</option>
                      {% for key, value in CATEGORY_CHOICES %}
                      <option value="{{ key }}" {% if document and document.category == key %} selected {% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="mb-3 col-md-4">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" name="status" required>
                      <option value="">Select Status</option>
                      {% for id, value in DOCUMENT_STATUS_CHOICES %}
                      <option value="{{ id }}" {% if document and document.status == id %} selected {% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  
                  <div class="mb-3 col-md-4">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="date" name="date" value="{% if document.date %}{{ document.date|date:"Y-m-d" }}{% endif %}" {% if not document %}required{% endif %}>
                  </div>
                </div>
              
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label for="visibility" class="form-label">Visibility</label>
                    <select class="form-select" name="visibility" id="visibility" required>
                      <option value="">Select Visibility</option>
                      {% for key, value in VISIBILITY_CHOICES %}
                      <option value="{{ key }}" {% if document and document.visibility == key %} selected {% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="mb-3 col-md-6" id="visible_to_groups_container" style="display: none;">
                    <label for="visible_to_groups" class="form-label">Visible to Groups</label>
                    <select class="form-select" name="visible_to_groups" id="visible_to_groups" multiple>
                      {% for group in all_groups %}
                      <option value="{{ group.id }}" {% if document and group in document.visible_to_groups.all %} selected {% endif %}>{{ group.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              
                <div class="mb-0">
                  <button type="submit" class="btn btn-primary waves-effect waves-light me-1">Save</button>
                  <a href="#" class="btn btn-secondary waves-effect">Cancel</a>
                </div>
            </form>              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block my_scripts %}
<script>
  $(document).ready(function() {
    // Show/Hide the "Visible to Groups" field based on the visibility selection
    $('#visibility').change(function() {
      if ($(this).val() === 'selected_groups') {
        $('#visible_to_groups_container').show();
      } else {
        $('#visible_to_groups_container').hide();
      }
    }).trigger('change');

    // Remove file function
    function removeFile(fileId) {
      if (confirm("Are you sure you want to remove this file?")) {
        $.ajax({
          type: 'POST',
          url: 'delete_file/',  // Replace with the URL mapped to your DeleteFileView
          data: {
            'file_id': fileId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
            if (response.success) {
              $('#file_' + fileId).remove();
            } else {
              alert('Failed to remove the file: ' + response.error);
            }
          },
          error: function(xhr, status, error) {
            console.error('Error removing file:', error);
            alert('An error occurred while removing the file. Please try again later.');
          }
        });
      }
    }
  });
</script>
<script src="https://cdn.tiny.cloud/1/o2od9vtnj8aoy1tgpyf7siqsvkg91xau2fyy5dlo0h5sy1an/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#text_area',  // Ensure this matches the ID of your textarea
        plugins: 'lists link image',
        toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link image',
    });
</script>
{% endblock my_scripts %}