<!-- Searchform Popup Start -->
<div class="popup-search" id="searchForm">
    <div class="popup-search__body">
        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
        <form action="#" class="searchform">
            <input type="text" name="popup-search" id="popup-search" class="searchform__input" placeholder="Search...">
            <button type="submit" class="searchform__submit"></button>
        </form>
        <p>* Type a keyword then press Enter</p>
    </div>
</div>
<!-- Searchform Popup End -->